.tabs .tab a{
    background-color: rgb(33, 33, 33);
    color:white;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#303f9f;
    color: white;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#303f9f;
    color:white;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:lightblue;
} /*Color of underline*/

canvas {
    background-color: gainsboro;
}