#lvl {
    display: block;
    width: 100px;
}

#lvl:hover ~ #info{
    display: block;
}

.btn {
    width: 95px !important;
}

#info {
    display: none;
}

span {
    vertical-align: middle;
}

th, td {
    border-top: 10px solid #e1e1e1 !important;
}

img {
    height: 25px;
    width: 25px;
}